
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== CSS TAG ===== =====*/ 
footer{
    position: relative;
    bottom: -35px;
    font-size: 12px;
}
/*===== ===== CSS TAG ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== CSS ID ===== =====*/ 
#altura{
    height: 125px;
}
#tablero{
    height: 600px;
}
#tablero-ahorcado{
    height: 200px;
}
#reglas{
    height: 400px;
    margin-bottom: 50px;
}
#footer{
    /*height: 95px;*/
}
#footer span{
    position: relative;
    bottom: -10px;
}
/*===== ===== CSS ID ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== CSS CLASS ===== =====*/ 
.green{
    text-align: center;
    background-color: green;
    height: 200px;
}
.ahorcado{
    text-align: center;
    background-color: red;
    height: 66.666px;
}
.altura-min{
    height: 25px;
}
/*===== ===== CSS CLASS ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== CSS BOOTSTRAP SOBREESCRITURA ===== =====*/ 

/*===== ===== CSS BOOTSTRAP SOBREESCRITURA ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 