/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== CSS TAG ===== =====*/ 

/*===== ===== CSS TAG ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== CSS ID ===== =====*/ 
#menu {
    width: 200px;
    z-index: 10000;
    padding: 0px;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
#boton{
}
#menu #navbars{
    width: 200px !important;
}
#boton:hover {
    color: rgba(255, 255, 255, 1) !important;
}
#boton span{
    background-color: rgba(0, 96, 161, 1);
}
#boton{
    padding: 0px 0px 0px 0px !important;
    width: 30px;
    height:30px;
    font-size: 20px !important;
    color: rgba(0, 0, 0,1) ;
}
#navbars{
    background-color: rgba(0, 96, 161, 1) ;
}
#menu,#user,#pista,#reglas,#nombre-juego,#nivel,#nombre-regla,#start,#tiempo,
#letra,#nombre-palabra,#comprobar-palabra,#estadistica,#puntos{
    font-variant: all-petite-caps;
}
#altura{
    height: 125px;
}
#tablero{
    height: 615px;
    background-size: cover;
    background-position: center;
}
#user,#nombre-juego{
}
#nivel{
    font-size: 45px;
}
#tablero section{
    height: auto;
}
#pista{
    font-size: 20px;
}
#nombre-regla,#tiempo,#user,#nombre-juego{
    font-size: 30px;
}
#palabra{
    font-size: 25px;
    text-transform: uppercase;
    height: 50px;
    padding: 5px 0px 0px 0px;
    margin: 2% 0px 2% 0px;
}
#tablero-ahorcado{
    background-size: contain;
    background-position: 45px bottom;
    background-repeat: no-repeat;
    height: 300px !important;
}
#letra label,#nombre-palabra label{
    font-size: 20px;
}
#reglas{
}
#puntos{
    font-size: 30px;
}
#regla-puntos{
    margin-bottom: 50px;
}
#left #start{
    margin: 40% 0 0 0;
}
#comprobar-palabra{
    font-size: 25px;
}
#puntos{
    padding-right: 45px;
}
/*===== ===== CSS ID ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== CSS CLASS ===== =====*/ 
.menu{
    z-index: 10006;
    width: 115px;
    height:45px;
    font-size: 20px;
    padding-right: 20px;
    background-color: rgba(0, 96, 161, 1);
    color: rgba(255, 255, 255, 1) !important;
}
.btn.start{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
    padding: 10px;
    /*border:15px #28a745 solid;*/
}
.footer{
    margin-top: 4%;
    font-size: 15px;
}
.rotacion {
    transform: rotate(90deg);
}

.hover div {
    width: 180px;
}

.hover a {
    padding: 5px 0px 2.5px 15px !important;
    text-transform: uppercase;
}

.hover {
    width: 0px;
    transition: width 1.5s;
}

.hover:hover {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5) !important;
}
.hover .user{
    width: 180px;
    border-bottom: 1px #ffffff solid;
}
.cerrar-sesion{
    width: 180px;
    border-top: 1px #ffffff solid ;
}
.hover .user img,.hover .user span{
    z-index: 11000;
}
.transparent{
    background-color: transparent;
    height: 100px;
}
.transparentTablero{
    background-color: transparent;
    height: 100px;
}
.green{
    background-color: green;
    height: 103px;
}
.tablero{
    border:hidden;
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.ahorcado{
    text-align: center;
    background-color: red !important;
    border:2px #fff solid;
    height: 100px;
}
.tablero-ahorcado{
    text-align: center;
    background-color: transparent;
    height: 100px;
}
.altura-min{
    height: 25px;
}
.glyphicon-user{
    height: 25px !important;
    width: 25px !important;
}
.descripcion{
    font-style: oblique;
    font-size: 18px;
}
.reglas{
    text-align: justify;
    font-variant: normal !important;
    font-style: oblique !important;
    font-size: 13px;
}
.regla-puntos{
    list-style: square!important;
    text-align: justify;
    font-variant: small-caps !important;
    font-style: oblique !important;
    font-size: 13px;
}
.regla-puntos ul{
    list-style: square!important;
}
/*===== ===== CSS CLASS ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 
/*===== ===== CSS BOOTSTRAP SOBREESCRITURA ===== =====*/ 
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);

}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/*===== ===== CSS BOOTSTRAP SOBREESCRITURA ===== =====*/ 
/*===== ===== ===== ===== ===== ===== =====*/ 