/*=====================================================*/

/*IMAGENES*/

/*=====================================================*/

#maestrias article .card-img-top,
#doctorados article .card-img-top {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#maestrias article:nth-child(1) .card-img-top {
    background-image: url(../img/energias-renovables-gestion-medio-ambiente.jpg);
}

#maestrias article:nth-child(2) .card-img-top {
    background-image: url(../img/posicionamiento-web.jpg);
}

#maestrias article:nth-child(3) .card-img-top {
    background-image: url(../img/controller-financiero.jpg);
}

#maestrias article:nth-child(4) .card-img-top {
    background-image: url(../img/direccion-gestion-proyectos.jpg);
}

#maestrias article:nth-child(5) .card-img-top {
    background-image: url(../img/recursos-humanos.jpg);
}

#maestrias article:nth-child(6) .card-img-top {
    background-image: url(../img/gestion-hotelera.jpg);
}

#maestrias article:nth-child(7) .card-img-top {
    background-image: url(../img/prevencion-medioambiente-calidad.jpg);
}

#maestrias article:nth-child(8) .card-img-top {
    background-image: url(../img/auditoria-medioambiental.jpg);
}

#maestrias article:nth-child(9) .card-img-top {
    background-image: url(../img/ingenieria-software.jpg);
}

#maestrias article:nth-child(10) .card-img-top {
    background-image: url(../img/logistica-compras-transporte.jpg);
}

#maestrias article:nth-child(11) .card-img-top {
    background-image: url(../img/educacion.jpg);
}

#maestrias article:nth-child(12) .card-img-top {
    background-image: url(../img/relaciones-internacionales-comercio-exterior.jpg);
}

#maestrias article:nth-child(13) .card-img-top {
    background-image: url(../img/prevencion-riesgos-laborales.jpg);
}

#doctorados article:nth-child(1) .card-img-top {
    background-image: url(../img/investigacion-docencia.jpg);
}

#doctorados article:nth-child(2) .card-img-top {
    background-image: url(../img/psicologia-empresarial.jpg);
}

#doctorados article:nth-child(3) .card-img-top {
    background-image: url(../img/proyectos.jpg);
}

/*=====================================================*/
